<div class="navbar-fixed">
  <nav id="nav" class="nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img [src]="imagenLogo" class="imagenLogo"  alt="Logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/Intergalactic">Envios intergalacticos</a></li>
        <li><a routerLink="/Interplanet">Envio interplanetario</a></li>
        <li><a routerLink="/Crew">Nuestros repartidores</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav nav" id="mobile-demo">
  <li><a class="white-text sLink" routerLink="/">Inicio</a></li>
  <li><a class="white-text sLink" routerLink="/Intergalactic">Envios intergalacticos</a></li>
  <li><a class="white-text sLink" routerLink="/Interplanet">Envio interplanetario</a></li>
  <li><a class="white-text sLink" routerLink="/Crew">Nuestros repartidores</a></li>
</ul>



<!-- <nav class="nav text-black navbar-fixed">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img [src]="imagenLogo" class="imagenLogo" /></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/Intergalactic">Envios intergalacticos</a></li>
      <li><a routerLink="/Interplanet">Envio interplanetario</a></li>
      <li><a routerLink="/Crew">Nuestros repartidores</a></li>
    </ul>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/Intergalactic">Envios intergalacticos</a></li>
    <li><a routerLink="/Interplanet">Envio interplanetario</a></li>
    <li><a routerLink="/Crew">Nuestros repartidores</a></li>
  </ul>
</nav> -->